<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>2807559131-e9ulqoiorcmep7h6jua4rris6lqbf37o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.2807559131-e9ulqoiorcmep7h6jua4rris6lqbf37o</string>
	<key>API_KEY</key>
	<string>AIzaSyA2aFkPrRueOVrh9Cut7DWf3eR6Au8VnOo</string>
	<key>GCM_SENDER_ID</key>
	<string>2807559131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Apptist.ColourBook</string>
	<key>PROJECT_ID</key>
	<string>colourbook-4961e</string>
	<key>STORAGE_BUCKET</key>
	<string>colourbook-4961e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:2807559131:ios:6969f22a6b429ee4</string>
	<key>DATABASE_URL</key>
	<string>https://colourbook-4961e.firebaseio.com</string>
</dict>
</plist>